@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: var(--black-a3);
}

.AvatarImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
