<!-- _LoginPartial.cshtml -->
<div>
    <label for="UserName">Username:</label>
    <input type="text" id="UserName" name="UserName" />
</div>
<div>
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" />
</div>
<button type="submit">Login</button>
