<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pasek zgłoszenia</title>
</head>
<body>
  <h1>Pasek zgłoszenia</h1>
  <p>Imię: <%= firstName %></p>
  <p>Nazwisko: <%= lastName %></p>
  <p>Nazwa zajęć: <%= course %></p>
  <p>Wyniki zadań: <%= tasks || 'Brak danych' %></p>
</body>
</html>